<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table class="table table-bordered">
        <thead>
            <th colspan="2">
                    Plateau State
            </th>      
        </thead>
        <thead>
            <th colspan="2">
                 Public Procurement Agency
            </th>      
        </thead>
        <tbody>
            <tr>
                <td>
                    Plateau State Procurement Database of particulars, consultants and service providers,
                </td>
                    
            </tr>
            
            <tr>
                <td>
                    Interim Registration Report
                </td>           
            </tr>
            <tr>
                <td>
                    This is to acknowledge the ongoing registration of:
                </td>           
            </tr>

            <thead>
                <th colspan="2">
                        PICTDA
                </th>      
            </thead>
            <tr>
                <td>
                    In the Plateau State Public Procurement Database of particulars, categorization and classification of contractors, consultants
                    consultants and service poviders as follows:
                </td>           
            </tr>

            <tr>
                <td>
                    Registration Type: Electrical
                </td>           
            </tr>

            <tr>
                <td>
                    Temporary Contractor ID:00000
                </td>           
            </tr>

            <tr>
                <td>
                    Date Of Registration: 21/05/2015
                </td>           
            </tr>

            <thead>
                <th colspan="2">
                   This Report serves as evidence of Interim Registration with the Plateau State Public Procurement Database 
                   while the claim/information provided by the company is being verified 
                </th>      
            </thead>

            <tr>
                <td>
                    This report is valid till 31ist December, 2019
                </td>           
            </tr>

        </tbody>
           
      
    </table>
  </body>
</html>